<!-- #CR refactor to ajax so you don't have to use a form -->
<form action="/sessions" method="post">
  <input type ="hidden" name = "_method" value="delete">
  <input type ="submit" value ="Log Out">
</form>
