  <h1>Create Survey</h1>

 <form action="/surveys" method="post" id="new-survey">
  <label class="label" for="name">Name:</label>
  <input id="surveyName" type="input" name="name">
  <div id="questions">

  </div>
  <a href="#" id="addQuestion">Add Question</a>
  <input type="submit" value="Save Survey">
</form>





