<div class="container">
  <h1> All Surveys </h1>
  <% @surveys.each do |s| %>
    <a href="/surveys/<%= s.id %>"><%= s.name %></a><br>
  <% end %>
  <a href="/surveys/new">Create a new Survey</a>
</div>